<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Ramdom Picker</title>
        <link rel="stylesheet" href="./style.css"></link>
        <script src="//unpkg.com/vue"></script>
        <script src="./script.js"></script>
    </head>
    <body>
        <header>
            <h1>Ramdom Picker</h1>
        </header>
        <main id="pick">
            <section class="limit">
                <h2>1.Set Limit</h2>
                <p>You must set ilmit number choosen. If you did not set it, limit number is "36".</p>
                <input title="Setting - Limit" placeholder="Set Limit" v-model="limit">
                <button v-on:click="setLimit">submit</button>
            </section>
            <section class="number">
                <h2>2.Special Number</h2>
                <p>You can set special number which may be selected more than once. If you write here, you must write "," as a sepalater between numbers.</p>
                <input title="Setting - Special Numbers" placeholder="Special Numbers" v-model="SpecialNumbers">
                <button v-on:click="setSpecialNumbers">submit</button>
            </section>
            <section class="do">
                <h2>3.Let's pick!</h2>
                <span>{{ result }}</span>
                <button v-on:click="picking">pick</button>
            </section>
        </main>
    </body>
</html>