:root{
    color:#333;
    font:400 100%/1.9 -apple-system,"Lucida Grande","Helvetica Neue","Hiragino Kaku Gothic ProN","游ゴシック","メイリオ",'Meiryo',sans-serif;
    font-feature-settings:"pkna" on;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body{
    margin:0;
    scroll-behavior:smooth;
    width:100%;
}

header,main{
    margin:0;
    width:100%;
}

header{
    background-color:#333;
    color:#fff;
    height:8%;
    position:absolute;
    top:0;
}

h1{
    text-align:center;
    vertical-align:center;
}

section{
    background-color:#fff;
    box-shadow:0 0 3vmin rgba(0,0,0,.2);
    height:12%;
    margin:4% 10%;
    padding:2% 10%;
    width:80%;
}

form > *{
    display:inline-block;
}